/* Mobile first */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}

.App {
  height: 100vh;
  width: 100vw;
  min-height: 100%;
  max-height: 100%;
  overflow: auto;
  background-image: url(../img/wallpaper-1.jpeg);
  background-size: cover;
  color: white;
  text-shadow: 1px 1px 2px #000000;
  display: grid;
  grid-template-rows: 4fr 2fr;
  justify-items: center;
  font-family: "Genos", sans-serif;
}

.App-title-image-div {
  display: flex;
  align-items: flex-end;
}

.App-title-image-div img {
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}

.App-title-text-div {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.App-title-button {
  display: inline-block;
  box-sizing: border-box;
  background-color: black;
  color: white;
  border-radius: 28px;
  border: 1px solid white;
  width: 50%;
  margin-top: 15px;
  text-shadow: 0px 1px 0px grey;
  font-size: 25px;
}

.Navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  height: 50px;
  width: 100%;
  background: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  font-family: "Genos", sans-serif;
  font-size: 1.2rem;
}

.Navbar-nav-links {
  list-style: none;
}

.Navbar-nav-item {
  float: left;
  color: white;
  transition: 0.3s all;
}

a:link,
a:visited {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: inherit;
}

.Navbar-cart-div {
  height: auto;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.Navbar-cart-div-number {
  width: 1rem;
}

.Products {
  margin-top: 40px;
  height: 100vh;
  height: auto;
  width: 100vw;
  min-height: 100%;
  max-height: 100%;
  overflow-y: hidden;
  background-image: url(../img/wallpaper-5.jpg);
  background-size: cover;
  font-family: "Genos", sans-serif;
  color: white;
  text-shadow: 1px 1px 2px #000000;
}

.Products-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
}

.Card {
  display: flex;
  min-height: 290px;
  max-height: 290px;
  background-color: white;
  color: black;
  text-shadow: none;
  opacity: 0.9;
  border-radius: 10px;
}

.Card-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  height: auto;
  width: 100%;
}

.Card-data-img-container img {
  display: block;
  max-height: 100px;
  margin-right: auto;
  margin-left: auto;
}

.Card-data-description {
  text-align: center;
  font-size: large;
}

.Card-data-action {
  width: 90%;
  margin-top: auto;
}

.Card-data-quantity {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 3fr;
  width: auto;
  align-items: center;
  justify-items: center;
}

.Card-data-quantity-number {
  padding-bottom: 4px;
}

.Card-data #cart {
  justify-self: end;
}

.Checkout-container {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.Checkout-box {
  display: grid;
  grid-template-rows: auto;
  position: relative;
  width: 80%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  color: black;
  border-radius: 4px;
  border: 1px solid #999;
  overflow: auto;
  text-align: center;
}

.Checkout-top {
  justify-self: right;
}

.Checkout-top img {
  max-height: 1.8rem;
  cursor: pointer;
}

.Checkout-box h3 {
  margin-bottom: 20px;
}

.Checkout-product {
  display: flex;
  flex-direction: row;
  font-size: larger;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.Checkout-product-name {
  text-align: left;
}

.Checkout-product img {
  margin-left: auto;
  height: 1.9rem;
  cursor: pointer;
}

.Checkout-box h2 {
  margin-bottom: 15px;
}

.Checkout-box button {
  font-family: inherit;
  font-size: larger;
  width: 60%;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-self: center;
  border-radius: 28px;
  cursor: pointer;
}

.Checkout-thank-you {
  background-color: black;
  color: white;
  border-radius: 8px;
  width: 80%;
  margin-top: 15px;
  margin-bottom: 20px;
  justify-self: center;
}

.Checkout-thank-you h3 {
  margin-bottom: 0px;
}

@media only screen and (min-width: 768px) {
  .Navbar {
    font-size: 1.5rem;
  }

  .Navbar-cart-div {
    align-items: center;
  }

  .App-title-image-div img {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  .App-title-text-div {
    font-size: xx-large;
  }

  .App-title-button {
    font-size: xx-large;
  }

  .Products-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 50px;
  }

  .Card-data-img-container img {
    max-height: 8rem;
  }

  .Card-data-description {
    font-size: larger;
  }

  .Card-data-quantity {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 3fr;
    width: 60%;
    text-align: center;
    align-items: center;
  }
}

@media only screen and (min-width: 1025px) {
  .Navbar {
    font-size: 1.5rem;
  }

  .Navbar-cart-div {
    align-items: center;
  }

  .App-title-image-div img {
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }

  .App-title-text-div {
    font-size: x-large;
  }

  .App-title-button {
    font-size: larger;
  }

  .Products-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    margin-top: 50px;
    margin-left: 180px;
    margin-right: 180px;
    margin-bottom: 50px;
  }

  .Card-data-img-container img {
    max-height: 7rem;
  }

  .Card-data-description {
    font-size: x-large;
  }

  .Card-data-quantity {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 3fr;
    width: 60%;
    text-align: center;
    align-items: center;
  }

  .Checkout-box {
    width: 50%;
  }

  .Checkout-box button {
    width: 40%;
  }

  .Checkout-thank-you {
    width: 50%;
  }
}
