/* mobile first */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}

.App {
  height: 100vh;
  width: 100vw;
  min-height: 100%;
  max-height: 100%;
  overflow: auto;
  background-image: url(../img/wallpaper-1.jpeg);
  background-size: cover;
  /* font-family: "Open Sans", sans-serif; */
  color: white;
  text-shadow: 1px 1px 2px #000000;
  display: grid;
  grid-template-rows: 1fr 3fr 2fr;
  justify-items: center;
  font-family: "Genos", sans-serif;
}

.App-title-image-div {
  /* example */
  display: flex;
  align-items: flex-end;
}

.App-title-image-div img {
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}

.App-title-text-div {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

/* .App-title-text-div button {
  font-family: inherit;
  width: 40%;
  padding: 10px;
  background: black;
  color: white;
  font-size: larger;
  border-radius: 5px;
  justify-self: center;
  margin-top: 20px;
} */

.App-title-button {
  display: inline-block;
  box-sizing: border-box;
  background-color: black;
  color: white;
  border-radius: 28px;
  border: 1px solid white;
  width: 50%;
  margin-top: 15px;
  text-shadow: 0px 1px 0px grey;
  font-size: 25px;
  /* padding: 16px 20px; */
  /* justify-self: center; */
  /* text-decoration: none; */
}

.Navbar {
  height: 50px;
  width: 100%;
  background: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  font-size: 1.2rem;
}

.Navbar-nav-links {
  /* display: grid; */
  /* grid-template-columns: repeat(3, auto); */
  /* grid-gap: 20px; */
  /* display: inline; */

  list-style: none;
}

.Navbar-nav-item {
  float: left;
  text-decoration: none;
  color: white;
  transition: 0.3s all;
}

a:link,
a:visited {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: inherit;
}

.Navbar button {
  float: right;
}

.Products {
  height: 100vh;
  width: 100vw;
  min-height: 100%;
  max-height: 100%;
  overflow: auto;
  background-image: url(../img/wallpaper-5.jpg);
  background-size: cover;
  font-family: "Genos", sans-serif;
  color: white;
  text-shadow: 1px 1px 2px #000000;
}
